body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
}

header {
    margin: 0;
    background-image: url(../img/code1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

h2 {
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

p{
    font-size: 20px;
    line-height: 30px;
    color: black;
    text-align: justify;
}

img {
    z-index: -1;
}

.name {
     font-size: 80px;
     float: left;
     margin: 20px 48px;
     position: fixed;
     font-family: 'Libre Barcode 39 Text', cursive;
     color: white;
     text-decoration: none;
}

.title {
    font-size: 60px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 500px;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.sectionOne{
    width: 100px;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
}

.portPics1 {
    width: 100%;
    transform: skewX(-10deg);
    margin:2% 
}

.portPics2 {
    width: 100%;
    transform: skewX(10deg);
    margin:2% 
}

.desc {
    width: 80%;
    margin: 50px auto;
}

.aboutSec {
    display: flex;
}

.abText {
    width: 90%;
    text-align: center;
    margin: auto;
    color: black;
    margin-bottom: 2%;
    border-bottom: .1px solid grey;
    font-family: 'Titillium Web', sans-serif;
    
}

.aBox {
    margin: 10px;
    width: 40vw;
    height: 40vh;
    position: relative;
}

.border {
    border-left: 1px solid grey;
}
